body {
    font: 16px/1.5 Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    margin: 0;
    background: #eee;
    color: #556;
}

#wrap {
    padding: 1em;
    margin: 0 auto;
    max-width: 700px;
    overflow-x: hidden;
}

header {
    color: #777575;
}

h1 {
    font-size: 1em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 1em;
    font-size: .75em;
}

main {
    display: block;
    background: #f7f7f7;
    padding: .5em;
    box-shadow: 0 0 2px #777;
    user-select: none;
    position: relative;
}

main form {
    min-width: 0;
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
    place-items: center;
    margin: 0;
    line-height: 3;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: cou;
}

ul li {
    display: flex;
    border-top: 1px solid #eee;
    align-items: center;
    font-variant: all-small-caps;
}

ul li:hover {
    background: #fff;
}

ul li::before {
    counter-increment: cou;
    content: counter(cou)'.';
    display: block;
    box-sizing: border-box;
    text-align: right;
    padding: 0 .25em;
    min-width: 2em;
    max-width: 2em;
}

ul > li:last-child {
    border-bottom: 1px solid #eee;
}

ul li button {
    background: #842;
}

i {
    min-width: 24px;
    height: 24px;
    text-align: center;
    margin: 0 4px;
    border: 1px solid #eee;
    background: #fff;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    font-style: normal;
    line-height: 2;
    display: inline-block;
    font-variant: initial;
}

.done {
    text-decoration: line-through;
}

.btns {
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 auto;
    width: 100%;
    line-height: 2;
}

.btns input {
    display: none;
}

.btns label {
    cursor: pointer;
    padding: 0 1em 0 2.5em;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: inherit;
}

.btns label::after,
.btns label::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.btns label::before {
    border: 1px solid #eee;
    padding: 13px;
    background: #fff;
}

.btns label::after {
    opacity: 0;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: padding-right .1s, border-right-color 0s .2s;
    transform: rotate(45deg);
    transform-origin: 26px 9px;
}

.btns input:checked~label::before {
    background: #307230;
}

.btns input:checked~label::after {
    border-color: #fff;
    padding: 8px;
    opacity: 1;
}

.btn input:checked~label::after {
    background: #777;
    padding: 4px;
    border-radius: 14px;
    opacity: 1;
}

button {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border: 0;
    background: #557;
    min-width: 68px;
    box-sizing: border-box;
    line-height: 2;
    color: #fff;
    opacity: 0.9;
    margin: 0;
    padding: 0 4px;
    font-size: 14px;
    max-height: initial;
    font-variant: small-caps;
    border-radius: 2px;
    letter-spacing: 1px;
}

button:hover {
    opacity: 1;
}

label[for=todo] {
    max-width: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#todo {
    border: 1px solid #eee;
    min-width: 0;
    flex: 1 1 auto;
    line-height: 2;
    border-right: 0;
    box-sizing: border-box;
    padding: 0 4px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
svg {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    place-items: center;
}
.time {
    position: fixed;
    display: flex;
    opacity: 0;
    top: 0;
    right: 0;
    z-index: -1;
    background: #fff;
    box-shadow: 0 0 2px #777;
    padding: 1em;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li i:hover~.time {
    opacity: 1;
    transition: .1s .2s opacity;
    z-index: 1
}

.time>span {
    display: flex;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 0 .25em
}

.time span:nth-child(1)::before,
.time span:nth-child(2)::before {
    content: 'added:';
    font-weight: 700;
    width: 72px;
    overflow: hidden;
    text-align: right;
    padding: 0 .25em
}

.time span:last-child:not(last-child) {
    border-top: 0
}

.time span:nth-child(2)::before {
    content: 'finished:'
}

ul li .time span:empty {
    display: none;
}

#app>h1 {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div>span i {
    background: #fff;
}

div>span {
    overflow: hidden;
    min-width: 96px;
}

div>span:last-child {
    text-align: right;
}

@media (max-width: 576px) {
    .btns,
    ul li {max-height: none;}
    #wrap,
    #todo,
    button {
        line-height: 3;
        box-sizing: border-box;
    }

    #wrap {
        padding: 0;
        max-width: initial;
    }
}