<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>TODO APP</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
</head>

<body>
  <div id="wrap">
    <main id="app">
      <header>
        <h1>{{title}}</h1>
      </header>
      <form action="" @submit.prevent="addTodo">
        <label for="todo">Todo</label>
        <input v-model="todo" type="text" name="todo" id="todo">
        <button type="submit" name="button">add</button>
      </form>
      <ul v-if="todoArray.length">
        <li v-for="(todo, index) in todoArray">
          <div class="btns"><input @click="e=>addToLocalStorage(index, e)" type="checkbox" name="done"
              :id="'input-' + index" v-model="todo.done">
            <label span :class="{ done : todo.done }" :for="'input-' + index">{{todo.title}}
            </label>
          </div>
          <i>i</i>
          <span class="time" v-if="todo.timeAdd||todo.timeFin">
            <span>{{todo.timeAdd}}</span>
            <span>{{todo.timeFin}}</span>
          </span>
          <button @click="e=>removeTodo(index, e)">remove</button>
        </li>
      </ul>
      <h1 v-else>Everything is done 😀😁</h1>
      <div>
        <span><i>{{todoArray.length}}</i> :Total</span>
        <button v-show="todoArray.length" @click="allDone">all done</button>
        <button v-show="todoArray.length" @click="allDFalse">not done</button>
        <span>Left todo: <i>{{counter()}}</i></span>
      </div>
    </main>
    <footer>
      by Kostas Šliažas
    </footer>
  </div>
  <script src="js/vue.min.js"></script>
  <script src="js/app.min.js"></script>
</body>

</html>