<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>TODO APP</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
</head>

<body>
  <div id="wrap">
    <main id="app">
      <header>
        <h1>{{title}}</h1>
        <span v-if="todoArray.length" id="safemode">safe mode</span>
      </header>
      <input switch="none" class="toggle-state" type="checkbox" id="adm" name="check" checked>
      <label v-if="todoArray.length" for="adm" data-on-label="On" data-off-label="Off"></label>
      <div class="safety" v-if="todoArray.length">
        <button @click="dialog(allDone)">all done</button>
        <button @click="dialog(allDFalse)">uncheck all</button>
        <button class="danger" @click="dialog(clearLocalStorage)">remove all</button>
        <button class="danger" @click="dialog(removeAllChecked)">remove checked</button>
      </div>
      <!-- <div v-else style="margin-top: 2.25em"></div> -->
      <form action="" @submit.prevent="addTodo">
        <label for="todo">Todo</label>
        <input v-model.trim="todo" v-on:blur="refresh" type="text" name="todo" id="todo" :placeholder="placeholder">
        <button type="submit" name="button">add</button>
      </form>
      <ul v-if="todoArray.length">
        <li v-for="(todo, index) in todoArray">
          <div class="btns"><input @click="e=>addToLocalStorage(index, e)" type="checkbox" name="done"
              :id="'input-' + index" v-model="todo.done">
            <label :class="{ done : todo.done }" :for="'input-' + index">{{todo.todo}}
            </label>
          </div>
          <i>i</i>
          <span class="time" v-if="todo.timeAdd||todo.timeFin">
            <span>{{todo.timeAdd}}</span>
            <span>{{todo.timeFin}}</span>
          </span>
          <button @click="e=>edit(index, e)">edit</button>
          <button @click="e=>removeTodo(index, e)">remove</button>
        </li>
      </ul>
      <div v-else>
        <h1>Everything is done or nothing was added</h1>
        <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg"
          xmlns:cc="http://creativecommons.org/ns#" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg"
          xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
          xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" version="1.1" viewBox="0 0 169.47 62"
          inkscape:version="0.91 r13725" xmlns:ns1="http://sozi.baierouge.fr">
          <defs>
            <linearGradient id="linearGradient3778">
              <stop stop-color="#FFF" offset="0" />
              <stop stop-color="#FFF" stop-opacity="0" offset="0.49548" />
              <stop stop-color="#FFF" stop-opacity="0" offset="1" />
            </linearGradient>
            <linearGradient id="linearGradient3764" y2="46" spreadMethod="reflect" gradientUnits="userSpaceOnUse"
              x2="185.06" y1="46" x1="177.94">
              <stop stop-color="#000" offset="0">
                <animate id="a8" attributeName="offset" dur="0.5s" values="0.8;0.5;0.8" repeatCount="indefinite" />
              </stop>
              <stop stop-color="#fff" offset="1" />
            </linearGradient>
            <linearGradient id="linearGradient3786" y2="46" xlink:href="#linearGradient3778" spreadMethod="reflect"
              gradientUnits="userSpaceOnUse" x2="113.8" y1="21" x1="113.8" />
            <linearGradient id="linearGradient3833" y2="50.648" xlink:href="#linearGradient3778" spreadMethod="reflect"
              gradientUnits="userSpaceOnUse" x2="110.06"
              gradientTransform="matrix(1.1999999,0,0,2.216017,-20.583915,-47.613892)" y1="60.657" x1="110.06" />
            <linearGradient id="linearGradient3880" y2="46" spreadMethod="reflect" gradientUnits="userSpaceOnUse"
              x2="113.8" gradientTransform="matrix(1.0762056,0,0,1,-8.67196,0)" y1="46" x1="40.638">
              <stop stop-color="#fff" offset="0" />
              <stop stop-color="#fff" stop-opacity="0" offset="1" />
            </linearGradient>
            <linearGradient id="linearGradient4051" y2="46" spreadMethod="reflect" gradientUnits="userSpaceOnUse"
              x2="192.53" y1="46" x1="29.062">
              <stop stop-color="#fff" offset="0">
                <animate id="a1" attributeName="stop-color" begin="1s; a6.end" values="#FFF" dur="0.2s" />
              </stop>
              <stop stop-color="#494" offset="0.2">
                <animate id="a2" attributeName="stop-color" begin="a1.end" values="#FFF" dur="0.2s" />
              </stop>
              <stop stop-color="#494" offset="0.4">
                <animate id="a3" attributeName="stop-color" begin="a2.end" values="#FFF" dur="0.2s" />
              </stop>
              <stop stop-color="#494" offset="0.6">
                <animate id="a4" attributeName="stop-color" begin="a3.end" values="#FFF" dur="0.3s" />
              </stop>
              <stop stop-color="#494" offset="0.8">
                <animate id="a5" attributeName="stop-color" begin="a4.end" values="#F55" dur="0.5s" />
              </stop>
              <stop stop-color="#fff" offset="1">
                <animate id="a6" attributeName="stop-color" begin="a5.end" values="#FFF" dur="0.2s" />
              </stop>
            </linearGradient>
          </defs>
          <g fill-rule="nonzero" transform="translate(-29.0625,-15)">
            <path style="enable-background:accumulate;color:#ffffff;" fill="url(#linearGradient3764)"
              d="m45.062,21c-5.54,0-10,4.46-10,10v30c0,5.54,4.46,10,10,10h130c5.54,0,10-4.46,10-10v-5h3.5312c2.1764,0,3.9375-1.7298,3.9375-3.9062v-12.188c0-2.1764-1.7611-3.9375-3.9375-3.9375h-3.5312v-4.9688c0-5.54-4.46-10-10-10h-130z" />
            <path style="enable-background:accumulate;color:#ffffff;" fill="url(#linearGradient3880)"
              d="M39.825,15c-5.963,0-10.763,5.53-10.763,12.4v37.2c0,6.8696,4.7999,12.4,10.762,12.4h139.91c5.9622,0,10.762-5.5304,10.762-12.4v-6.2h3.8004c2.3423,0,4.2376-2.145,4.2376-4.8438v-15.112c0-2.6988-1.8953-4.8825-4.2376-4.8825h-3.8004v-6.1612c0-6.8696-4.7999-12.4-10.762-12.4l-139.9-0.001z" />
            <path opacity="0.8" style="enable-background:accumulate;color:#ffffff;"
              d="m45.062,21c-5.54,0-10,4.46-10,10v30c0,5.54,4.46,10,10,10h130c5.54,0,10-4.46,10-10v-5h3.5312c2.1764,0,3.9375-1.7298,3.9375-3.9062v-12.188c0-2.1764-1.7611-3.9375-3.9375-3.9375h-3.5312v-4.9688c0-5.54-4.46-10-10-10h-130z"
              fill="url(#linearGradient4051)" />
            <path style="enable-background:accumulate;color:#ffffff;" fill="url(#linearGradient3786)"
              d="m45.062,21c-5.54,0-10,4.46-10,10v30c0,5.54,4.46,10,10,10h130c5.54,0,10-4.46,10-10v-5h3.5312c2.1764,0,3.9375-1.7298,3.9375-3.9062v-12.188c0-2.1764-1.7611-3.9375-3.9375-3.9375h-3.5312v-4.9688c0-5.54-4.46-10-10-10h-130z" />
          </g>
        </svg>
      </div>
      <div class="footer">
        <span><i>{{todoArray.length}}</i> :total</span>
        <span>left todo: <i>{{counter()}}</i></span>
        <span title="Total sum of entered numbers">counter: &euro;<i>{{counterNumbers()}}</i></span>
      </div>
      <div id="editor" class="hidden">
        <div class="white">
          <form action="" autocomplete="off" @submit.prevent="save">
            <label for="edit">Edit</label>
            <input type="text" name="edit" id="edit">
            <button type="submit">save</button>
          </form>
          <button @click="hide('#editor')">cancel</button>
        </div>
      </div>
      <div id="dialog" class="hidden">
        <div class="white">
          <h1>Are you sure?</h1>
          <button id="yes" class="danger">YES</button>
          <button id="no">NO</button>
        </div>
      </div>
    </main>
    <footer>
      by Kostas Šliažas
    </footer>
    <div id="installContainer" class="hidden">
      <button id="butInstall" type="button">
        Install
      </button>
    </div>
  </div>
  <script src="js/vue.min.js"></script>
  <script src="js/app.min.js"></script>
</body>

</html>